.git
.gitignore
build
out
cmake-build-*
.qt
.qmlcache
*.user
*.iso
ubuntu-kiosk-iso
recordings
output
*.mp4
aqtinstall.log
.vscode
.clangd
compile_commands.json
compile_flags.txt
src/compile_flags.txt
